// Your custom variables should be here
// $bootstrap-variable: value;

// Import main Bootstrap styles
@import "~bootstrap/scss/bootstrap";
@import "material-icons";

.fill {
    min-height: 100%;
    height: 100%;
}

.fill-50 {
    min-height: 50%;
    height: 50%;
}

.fill-49 {
    min-height: 49%;
    height: 49%;
}

.vertical-margin-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.logo {
    text-align: center;
    background-color: rgba(249,243,243,100);
}

.baseline {
    text-align: center;
    background-color: #FF6600;
    color: #FFFFFF;
}

.menu {
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(63,115,145,100);
    color: #FFFFFF;
}

.page-list {
    font-size: 24pt;
}

.page-list-small {
    font-size: 14pt;
}

.page-list a, .page-list-small a {
    color: #FFFFFF;
}

.copyright {
    text-orientation: mixed;
    background-color: #CCCCFF;
}

.call-to-action {
    text-align: center;
    background-color: rgba(41,52,100,100);
    color: #FFFFFF;
}

.program-list li {
    padding: 7pt;
}

.program-list a {
    color: #FFFFFF;
    font-size: 24pt;
}

.highlight {
    color: #999999;
}

.program-icon {
    background-color: rgba(41,52,100,100);
    color: #FFFFFF;
}

.cloud-icon {
    background-color: rgba(0,255,255,100);
}

.iot-icon {
    background-color: rgba(255,153,255,100);
}

.data-science-icon {
    background-color: rgba(0,255,0,100);
}

.content-area {
    background-color: rgba(249,243,243,100);
    padding: 20pt;

    .block {
        margin-top: 20pt;
    }
}

.content-support-area {
    background-color: rgba(41,52,100,100);
    color: #FFFFFF;
    padding: 20pt;

    .block {
        margin-top: 20pt;
    }
}

a.current-page {
    font-weight: bold;
    text-decoration:underline ;
}

.personal-detail {
    font-size: 9pt;
}